.footer-container{
    margin: 0 left;
    background: rgb(236, 11, 11);
    padding: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4e3977;
    text-align: center;
    font-weight: 500;
}


